.header {
  border-bottom:1px solid #000;
}

.content {
  padding-bottom: 2em;
}

h1 {
  font-weight: bold;
  letter-spacing: -1.3px;
}

h3 a {
  color:#999999;
  font-size:0.5em;
  font-weight:normal;
  letter-spacing:0;
  text-decoration:none;
}

.twitter, .flickr, .delicious {
  margin-top: 1em;
}

.twitter #twitter_update_list, .flickr .photos, .delicious .bookmarks {
  margin: 1em 0 0 0;
}

.twitter #twitter_update_list li {
  list-style-type: none;
  margin-bottom: 1.5em;
}

.delicious ul li {
  margin-bottom: 1em;
}
.signature {
  text-align: right;
}

.gallery_divider {
  padding: 1em 0;
  border-top: 5px solid #000;
  border-bottom: 1px solid #000;
}

h3 {
  font-size:2em;
  font-weight:bold;
  letter-spacing:-1.3px;
  margin:0.5em 0 1em;
}

.flickr ul, .people ul, .places ul, .things ul {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin: 0;
}
.flickr ul li, .people ul li, .places ul li, .things ul li {
  display: inline;
  width: 82px;
  
}

.flickr ul li img, .people ul li img, .places ul li img, .things ul li img {
  background-color:#eee;
  border:1px solid #8A999B;
  float:left;
  margin:0 8px 8px 0;
  padding:3px;
}

.flickr ul li img:hover, .people ul li img:hover, .places ul li img:hover, .things ul li img:hover {
  background-color:#C1CBCC;
}

.footer {
  padding: 1em 0;
}